Index

<br>
<br>

<center>
	<table border="3", cellspacing="10" >
		<TR>
			<th>Name </th>
			<th>Mile Stone</th>
			<th>Issue Title</th>
			<th>Email</th>
			<th>Work Effort</th>
			<th>Working day</th>
			<th>Estimated effort to complete</th>
			<th>Estimated project completion date</th>
			<th>Planed start date</th>
			<th>Planed end date</th>
			<th>Actual start date</th>
			<th>Actual end date</th>
			<th>RePlaned end date</th>
			<th>Estimated_effort</th>
			<th>SPI</th>
			<th>CPI</th>
			<th>Coutnt work effort</th>
			<th>latest estimated Effort</th>

		</TR>
		
			<%  abc(@operation) %>
			<%  lets(@operation) %>

			<% @operation.each do |f| %>


			<tr>
				<td> <%= f.name %></td>
				<td> <%= f.milestone_title %></td>
				<td> <%= f.issue_title %></td>
				<td> <%= f.email %></td>
				<td> <%= f.work_effort %></td>
				<td> <%= f.working_day %></td>
				<td><%= f.estimated_effort_to_complete %></td>
				<td><%= f.estimated_project_completion_date %></td>
				 <td><%= f.planned_start_date %></td>
				<td><%= f.planed_end_date %></td>
				<td><%= f.actual_start_date %></td>
				 <td><%= f.actual_end_date %></td>
				 <td><%= f.replanned_end_date %></td>
				<td><%= f.estimated_effort %></td>
					
				<td><%= @a %>
					<%#= ((f.planed_end_date-f.actual_start_date)/(f.estimated_project_completion_date-f.actual_start_date)).to_i %>
					<%= method(f.planed_end_date, f.actual_start_date,f.estimated_project_completion_date) %>
				</td>
				<td><%= @b %>
						<%#= (f.estimated_effort.to_f/f.work_effort).round(4) %>
					<%= method2(f.estimated_effort,f.work_effort) %></td>
					<td><%= $count[f.email] %></td>
					<td><%= $estimateeffort[f.email] %></td>
					</tr>

			<% end %>
		
	</TABLE>
</center>
<br>
<br>
<%= link_to "Create Entry", new_operation_path %>